<header>
    <nav data-aos="fade-up-right" data-aos-duration="1500">
        <div class="nav-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="nav-logo">
            <a href="/"><i class="fa-solid fa-burger"><span>DevSteakhouse</span></i></a>
        </div>
        <div class="nav-btn">
            <button>Reservar Mesa</button>
        </div>
    </nav>
    <div>
        <h1>A MELHOR CHURRASCARIA DO <br>ABC PAULISTA</h1>
    </div>
</header>
