<main>
    <section class="about">
        <section class="text">
            <h2>A DevSteakhouse</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore expedita tempora quod minima minus facilis tenetur, dolores harum atque animi fugit possimus excepturi, nihil quaerat ipsum rerum error odio natus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore expedita tempora quod minima minus facilis tenetur, dolores harum atque animi fugit possimus excepturi, nihil quaerat ipsum rerum error odio natus.</p>
        </section>
        <section class="image">
            <img src="/samuel-foster-LxD9fZYR2uw-unsplash (1) (1).jpg" alt="steakhouse" loading="lazy">
        </section>
    </section>
    <section class="menu">
        <h2>Conheça nosso cardápio</h2>
        <div class="grid">
            <div class="card">
                <div class="card-img">
                    <img src="/alcatra.jpg" alt="" loading="lazy">
                </div>
                <div class="card-body">
                    <h3>Alcatra</h3>
                    <p class="card-paragraph">Alcatra grelhada no ponto ideal. Acompanha farofa, vinagrete e molho da casa.</p>
                    <div class="card-info">
                        <span class="card-price">R$ 150.00</span>
                        <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="/maionese.jpg" alt="" loading="lazy">
                </div>
                <div class="card-body">
                    <h3>Maionese</h3>
                    <p class="card-paragraph">Nossa maionese de batata é enriquecida com cenoura, ervilhas, milho e ovos.</p>
                    <div class="card-info">
                        <span class="card-price">R$ 100.00</span>
                        <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-btn">
            <a href="#">Veja nosso cardápio</a>
        </div>
    </section>
    <section class="testimonials">
        <h3>Depoimentos</h3>
        <div class="carousel">
            <div class="carousel-container">
              <!-- Card 1 -->
              <div class="card">
                <img src="/pexels-hannah-nelson-390257-1065084 (1).jpg" alt="Imagem 1" loading="lazy">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda reprehenderit eligendi vitae, veniam et aspernatur corporis cupiditate natus voluptas alias saepe ullam aut minus atque, debitis nesciunt, laudantium placeat?</p>
                <p>Emily R.</p>
              </div>
              <!-- Card 2 -->
              <div class="card">
                <img src="/pexels-justin-shaifer-501272-1222271 (1).jpg" alt="Imagem 2" loading="lazy">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda reprehenderit eligendi vitae, veniam et aspernatur corporis cupiditate natus voluptas alias saepe ullam aut minus atque, debitis nesciunt, laudantium placeat?</p>
                <p>Justin B.</p>
              </div>
              <!-- Card 3 -->
              <div class="card">
                <img src="/pexels-olly-733872 (1).jpg" alt="Imagem 3" loading="lazy">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda reprehenderit eligendi vitae, veniam et aspernatur corporis cupiditate natus voluptas alias saepe ullam aut minus atque, debitis nesciunt, laudantium placeat?</p>
                <p>Jennie T.</p>
              </div>
              <!-- Card 4 -->
              <div class="card">
                <img src="/pexels-hannah-nelson-390257-1065084 (1).jpg" alt="Imagem 4" loading="lazy">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda reprehenderit eligendi vitae, veniam et aspernatur corporis cupiditate natus voluptas alias saepe ullam aut minus atque, debitis nesciunt, laudantium placeat?</p>
                <p>Emily R.</p>
              </div>
              <!-- Card 5 -->
              <div class="card">
                <img src="/pexels-justin-shaifer-501272-1222271 (1).jpg" alt="Imagem 5" loading="lazy">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda reprehenderit eligendi vitae, veniam et aspernatur corporis cupiditate natus voluptas alias saepe ullam aut minus atque, debitis nesciunt, laudantium placeat?</p>
                <p>Justin B.</p>
              </div>
              <!-- Card 6 -->
              <div class="card">
                <img src="/pexels-olly-733872 (1).jpg" alt="Imagem 6" loading="lazy">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda reprehenderit eligendi vitae, veniam et aspernatur corporis cupiditate natus voluptas alias saepe ullam aut minus atque, debitis nesciunt, laudantium placeat?</p>
                <p>Jennie T.</p>
              </div>
            </div>
          </div>
    </section>
    <section class="location">
        <h3>Venha nos conhecer</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.6777886461514!2d-46.562530599999995!3d-23.687478100000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4353fea4c1a9%3A0xff3b58ed38024100!2sCileide%20Lanfredi%20-%20Hair%20Studio!5e0!3m2!1spt-BR!2sbr!4v1742584118583!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</main>
